body{
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}
h1{
	text-align: center;
}
span{
	text-align:center;
	margin:  15px;
}
a:link{
	color: #000000;
	background-color: transparent;
	text-decoration: none;
}

a:hover{
	color: blue;
	background-color: transparent;
	text-decoration: underline;
}
div{
	text-align: left;
	position: relative;
	left: 50px;
	top: 20px;
	background: rgb(255,255,255,0.6);
	margin:3% 70% 20% 2%;
	border:3px solid #000000;
	border-radius: 15px;
}
button{
	width:50%;
	margin:0% 25% 5% 25%;
}
img{
	width:50%;
	margin:0% 25% 5% 25%;
	opacity: 40%;
}
